<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <!-- method defines the post request and action define where to send the post request -->
    <form method="post" action="/posts">
        <!-- <label for="username">username</label> -->
        <input type="text" placeholder="enter username" name="username" id="username"> <br> <br> <br>
        <!-- <label for="content">content</label> -->
        <textarea placeholder="write your post" name="content" id="content"></textarea> <br>
        <button class="newbtn">Submit Post</button>
    </form>
</body>
</html>